@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
    width: 100%;
    /* max-width: 800px; */
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: auto;
    /* text-rendering: optimizeLegibility; */
}

/* .about-container img {
    width: 30%;
    float: right;
    margin-left: 4%;
} */

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; /* inherit; */
    text-decoration:none; 
    /* cursor:pointer;   */
}

.container {
    display: flex;
    width: inherit;
    flex-direction: column; /* sets its contents to be laid out from top to bottom */
    justify-content: center; /* align-items is for positioning a flex item's main axis (column in this case). distributes the elements along the center of the main axis of the container */        
    align-items: center;    /* align-items is for positioning a flex item's cross-axis */        
}

#homepage {
    margin-top: 20%;
}

#header {
    font-size: 48px;
}

.links {
    font-size: 24px;
    margin-right: 5px;
    margin-left: 5px;
}

.navigation {
    margin-top: 20px;
    margin-left: 20px;
}

.about-container {
    flex-direction: column; /* sets its contents to be laid out from top to bottom */
    display: flex;
    justify-content: space-around;
    align-items: center; /* center on cross-axis (vertical)*/
    margin: auto;
    margin-top: 8%;
    width: 60%;
}

.about-container img {
    width: 30%;
    float: right;
    margin-left: 4%;
}

.larger-font {
    font-size: 36px;
    font-weight: bold;
  }

  .navigation .links:first-of-type {
    margin-right: 50%;
    font-size: 36px;
    font-style: italic;
    font-weight: bold; 
  }

  .contact-info {
    display: flex;
    justify-content: center;
  }

  .socials {
    width: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container .row {
    display: flex;
    justify-content: center;
  }

  .container .row .item {
    width: 30%;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .container .row .item img {
    width: 400px;
  }

  #contact {
    margin-top: 8%;
  }

  #experience {
    margin-top: 8%;
  }
  
  #experience .item {
    width: 60%;
  }